<% content_for :title do %>Toby Learns Rails : Sign Up<% end %>
<% content_for :description do %>Toby Learns Rails Sign up page<% end %>
<h3>Sign Up</h3>
<div class="form">
  <%= simple_form_for @visitor do |f| %>
    <%= f.error_notification %>
    <%= f.input :email, label: false, :placeholder => 'Your email address...' %>
    <%= f.button :submit, "Sign up for the newsletter", :class => "submit" %>
  <% end %>
</div>
