<% content_for :title do %>Toby Learns Rails<% end %>

<div class="row">
  <div class="large-3 columns">&nbsp;</div>
  <div class="large-3 columns"><p>&nbsp;</p></div>
  <div class="large-3 columns"><p>&nbsp;</p></div>
  <div class="large-3 columns">&nbsp;</div>
</div>
<div class="row">
  <div class="large-2 columns">&nbsp;</div>
  <div class="large-3 columns">
    <p><%= image_tag "toby.png" %></p>
  </div>
  <div class="large-5 columns">
    <p>I am teaching myself <a href="http://www.rubyonrails.org">Ruby on Rails</a> with the help of <a href="http://www.railsapps.org">RailApps</a>.</p>
    <p>This is my first completed tutorial.</p>
    <p><%= link_to 'Sign up', new_visitor_path %> for the newsletter that will document this journey and view my projects on <a href="http://www.github.com/twoller/">GitHub</a>.</p>
  </div>
  <div class="large-2 columns">&nbsp;</div>
</div>
<div class="row">
  <div class="large-3 columns">&nbsp;</div>
  <div class="large-3 columns"><p>&nbsp;</p></div>
  <div class="large-3 columns"><p>&nbsp;</p></div>
  <div class="large-3 columns">&nbsp;</div>
</div>
